/*#########portfolioS LIST PAGE###########*/
#portfolios-list-page  .add-new-h2 {
	cursor:pointer;
}

#portfolios-list-page .actions {
	width:
}

#portfolios-list-page .actions label {
	display:block;
	float:left;
	margin-top:5px;
}

#portfolios-list-page .actions input {
	display:block;
	float:left;
}

#portfolios-list-page table tr.has-background {background:#f9f9f9;}

/*portfolioS TABS*/
 #portfolios-list  {
	width:100%;
	margin:0px 0px 20px 0px;
	border-bottom:1px solid #ccc;
	height:30px;
}
 
#portfolios-list  li {	
	position:relative;
	display:block;
	float:left;
	height:29px;
	margin:0px 5px 0px 0px;
	padding:0px 0px 0px 0px;
	border:1px solid #ccc;
}

#portfolios-list  li.active {
	border-bottom: 1px solid #f1f1f1;	
	padding-right:16px;
	background-position:right center;
	background-repeat:no-repeat;
}


#portfolios-list  li a,#portfolios-list  li a:link,#portfolios-list  li a:visited {
	display:block;
	text-decoration:none;
	padding:5px 10px 5px 10px;
	background: #ebebeb;
	color: #777;
	background:#fff;
	outline:none;
}

#portfolios-list  li a:hover,#portfolios-list  li a:focus,#portfolios-list  li a:active {
	color:#444;
	background:#f1f1f1;
}

#portfolios-list  li.add-new a:hover,#portfolios-list  li.add-new a:focus,#portfolios-list  li.add-new a:active {
	cursor:pointer;
}
	
#portfolios-list  li.active input {
	margin:2px 0px 0px 0px;
	background:#f1f1f1;
	outline:none;
	width:auto;
	box-shadow:none;
	border:0px;
	width: 90px;
}



/*SIDEBAR*/

#portfolio-unique-options-list li label {
	display:inline-block;
	width:100px;
	padding:0px 0px 0px 10px;
}

#portfolio-unique-options-list li input[type='text'],#portfolio-unique-options-list li select {width:150px;}

#portfolio-shortcode-box ul li:first-child {
	border-bottom:1px solid #ccc;
	padding-bottom:18px;
}

#portfolio-shortcode-box li textarea.full {
	width:100%;
	height:50px;
	resize:none;
}

#side-sortables.portfolio-custom-options {
	min-height:10px !important;
}


/*CONTENT*/

#post-body-heading {
	width:100%;
	padding:10px 0px 10px 0px;
	height:30px;
	background:#fff;
	border-bottom: 1px solid #e5e5e5;
}

.portfolio-options #post-body-heading {width:100%;}

#post-body-heading h3 {
	float:left;
	margin:-5px 0px 0px 5px !important;
	padding:0px;
}

#post-body-heading .button,#post-body-heading .save-portfolio-options  {
	float:right;
	margin-right:10px !important;
}

#post-body-heading .button.add-post-slide input {
	position:absolute;
	display:none;
}

#post-body-heading .button.add-new-image .wp-media-buttons-icon {
	background: url('../../../../wp-admin/images/media-button.png') no-repeat top left;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: text-top;
	margin: 2px 7px 0px 0px;
}

#post-body-heading .button.add-post-slide .wp-media-buttons-icon {
	background: url('../../../../wp-admin/images/post-ats.png') no-repeat top left;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: text-top;
	margin: 2px 7px 0px 0px;
}


#post-body-footer {
	padding:5px 10px 5px 10px;
}

#post-body-footer a.save-portfolio-options {
	float:right;
}

#images-list {
	display:table;
	width:100%;
	height:auto;
	border: 1px solid #e5e5e5;
	margin:0px;
}

#images-list > li {
	clear:both;
	display:block;
	background-color:#fff;
	margin:0px;
	padding:10px 5px 10px 5px;
}

#images-list > li.has-background {background-color:#f9f9f9;}

#images-list > li:hover {
	cursor:move;
	background-image:url(../images/dragable.gif);
	background-position:right top;
	background-repeat:repeat-y;
}

#images-list > li.ui-sortable-helper {
	opacity:0.8;
}

#images-list .image-container {
	width:200px;
	float:left;
}

#images-list .widget-images-list {
	list-style:none;
	display:table;
}

#images-list .widget-images-list li {
	position:relative;
	display:table;
	float:left;
	width:61px;
	height:50px;
	border-radius:5px;
	margin:5px 2px 0px 3px;
	overflow:hidden;
	clear:none;
	padding:0px;
	vertical-align:middel;
	background-image:none !important;
}

#images-list .widget-images-list li.first, #images-list .widget-images-list li:first-child {
	width:200px;
	clear:both;
	margin:0px 0px 0px 0px;
}

#images-list .widget-images-list li  a.edit-image {
	position:absolute;
	top:2px;
	right:20px;
	width:12px;
	height:10px;
	padding:3px;
	text-indent:-9999px;
	background:url(../images/edit.png) right center no-repeat #fff;
	display:none;
}

#images-list .widget-images-list li  a.remove-image {
	position:absolute;
	top:2px;
	right:2px;
	width:10px;
	height:10px;
	padding:3px;
	text-indent:-9999px;
	background:url(../images/remove.jpg) center center no-repeat #fff;
	display:none;
}

#images-list .widget-images-list li:hover  a.edit-image,#images-list .widget-images-list li:hover  a.remove-image  {display:block}

#images-list .widget-images-list li a.add-image, #images-list .widget-images-list li a.add-image:link, #images-list .widget-images-list li a.add-image:visited {
	text-indent:-9999px;
	display:block;
	width:61px;
	height:50px;
	background:url(../images/plus.png)  center top no-repeat;
	border:1px dotted #0074a2;
	border-radius:5px;
}


#images-list .widget-images-list li a.add-image:hover, #images-list .widget-images-list li a.add-image:focus, #images-list .widget-images-list li a.add-image:active {
	background:url(../images/plus.png)  center bottom no-repeat;
}

#images-list .widget-images-list li img { 
	position:relative;
	display:block;
	width:61px;
	height:50px;
	vertical-align:middel;
}

#images-list .widget-images-list li.first  img,#images-list .widget-images-list li:first-child  img {
	width:200px;
	height:auto;
}

#images-list .image-options {
	float:left;
}

#images-list .image-options > div {
	clear:both;
	width:100%;
	margin:0px 0px 10px 0px;
}

#images-list .image-options label {
	display: inline-block;
	float:left;
	width: 100px;
	padding: 3px 0px 0px 10px;
	vertical-align: middle;
} 

#images-list .description-block label {padding:10px 0px 0px 10px;}

#images-list .image-options input[type='text'], #images-list .image-options select, #images-list .image-options textarea {
	width: 520px;
}

#images-list .image-options .link-block label.long {
	width: 105px;
	padding:3px 0px 0px 5px;
}

#images-list .image-options .link-block   input.url-input  {
	float:left;
	width:390px;
}

#images-list .image-options .link-block   input.link_target {
	margin-top:4px;
}


#images-list .image-options textarea {resize:none;}

#images-list .image-options .remove-image-container {
	position:relative;
	clear:both;
	height:20px;
	padding:10px 0px 0px 0px;
	width:100%;
}
#images-list .image-options .remove-image {float:right;}

/*  OPTIONS PAGE  */


#portfolio-options-list {
	width:100%;
	background:#fff;
}

#portfolio-view-tabs {
	position:relative;
	list-style:none;
	border-bottom:1px solid #ddd;
	height:40px;
	padding-top:10px;
}

#portfolio-view-tabs  li  {
	float:left;
	margin:0px 5px 0px 5px;
}

#portfolio-view-tabs  li a {
	display:block;
	height:30px;
	padding:10px 10px 0px 10px;
	border:1px solid #ddd;
	border-bottom:0px;
	text-decoration:none;
}

#portfolio-view-tabs  li.active a {
	padding-bottom:1px;
	background:#fff;
}

#portfolio-view-tabs-contents li  {
	position:relative;
	width:100%;
	float:left;
	display:none;
}

#portfolio-view-tabs-contents li.active  {
	display:block;
}


#portfolio-view-tabs-contents li  > div {
	position:relative;
	display:block;
	float:left;
	margin:10px 1% 25px 1%;
	padding:0px 1% 10px 1%;
	width:46%;
	background:#f9f9f9;
}
#portfolio-view-tabs-contents li   div.has-background {background:#fff;}
#portfolio-view-tabs-contents li   div.has-height > div {display:inline-block;}


#portfolio-view-tabs-contents li  > div  h3 {
	display:block;
	text-align:center;
	margin:0px 0px 10px 0px;
}

#portfolio-view-tabs-contents li  > div > div {
	position:relative;
	clear:both;
	width:100%;
	height:35px;
	padding:5px 0px 0px 0px;
	margin:0px !important;
}

#portfolio-view-tabs-contents li  > div > div label {
	display:inline-block;
	width:60%;
	padding:5px 0px 0px 2%;
	height:30px;
	float:left;
}



#portfolio-view-tabs-contents li  > div > div div.slider-container {
	position:relative;
	display: inline-block;
	width: 145px;
	margin-left:-5px;
}

#portfolio-view-tabs-contents li  > div > div div.slider-container span {
	position:absolute;
	top:-3px;
	right:0px;
}

#portfolio-view-tabs-contents li  > div > div input[type='text'],#portfolio-view-tabs-contents li  > div > div select {
	width:100px;
}

#portfolio-view-tabs-contents li  > div > div input[type='checkbox'] {
	margin:7px 0px 3px 0px;
}

#portfolio-view-tabs-contents li  > div > div.bws_position_table input {
	margin:3px 17px 3px 3px;
}

#arrows-type {
	display:table;
	margin:0px;
}

#arrows-type li {
	position:relative;
	margin:0px 3% 10px 0px;
	float:left;
	border:1px solid #e5e5e5;
}

#arrows-type li.color {
	background:#f9f9f9;
}

#arrows-type li.active {
	border:1px solid #0074c2;
}

#arrows-type li > div {
	position:relative;
	width:180px;
	height:160px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;

}
#arrows-type li > div p {
	font-size:10px;
	text-align:left;
	vertical-align:bottom;
}

#arrows-type li  input {
	position:relative;
	vertical-align:middle;
	width:180px;
	height:160px;
	position:absolute;
	top:0px;
	left:0px;
	border-radius:0px !important;
	opacity:0;
}


/*#####ADD POSTS POPUP###*/

#huge_it_portfolio_add_posts {
	position:relative;
	margin:0px 0px 10px 0px;
}

#huge-it-category- {
	float:left;
}

#huge-it-categories-list {
	width:150px;
	margin:0px 10px 0px 0px;
}

.huge-it-insert-post-button {
	float:right;
}

#huge-it-description-length {
	width:60px;
}

#huge_it_portfolio_add_posts_wrap .view-type-block {
	float:right;
	margin:0px 20px 0px 0px;
}

#huge_it_portfolio_add_posts_wrap .view-type-block a {
	display:block;
	margin-left:5px;
	width:30px;
	height:30px;
	padding:1px;
	float:right;
	text-indent:-9999px;
	border:1px solid rgba(0,0,0,0);
}

#huge_it_portfolio_add_posts_wrap .view-type-block a.active {
	border:1px solid #999;
}

#huge_it_portfolio_add_posts_wrap .view-type-block a.list {
	background:url(../images/view_list.png) center center no-repeat;
}

#huge_it_portfolio_add_posts_wrap .view-type-block a.thumbs {
	background:url(../images/view_thumbs.png) center center no-repeat;
}

#huge-it-posts-list {
	position:relative;
	display:table;
	width:99%;
}


/*TYPE-LIST*/
#huge-it-posts-list.list  li {
	position:relative;
	float:left;
	width:100%;
	clear:both;
	padding:10px 0px 10px 0px;
}

#huge-it-posts-list.list  li.hascolor {
	background:#fff;
}

#huge-it-posts-list.list  li.active {
	border-right:2px solid #0074a2;
}

#huge-it-posts-list  li input.huge-it-post-checked {
	z-index:1000;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0px;
	opacity:0.3;
}

#huge-it-posts-list  li input.huge-it-post-checked.active {opacity:0;}

#huge-it-posts-list.list  li#huge-it-posts-list.list-heading {
	border-bottom:2px solid #666;
	height:30px;
	margin:0px;
	font-weight:bold;
}



#huge-it-posts-list.list  li > div {
	float:left;
	padding:0px 5px 0px 5px;
	
}

#huge-it-posts-list.list .huge-it-posts-list-image {
	width:100px;
	min-height:10px;
	clear:both;
}

#huge-it-posts-list.list .huge-it-posts-list-image img{
	width:100px;
	max-height:100px;
}

#huge-it-posts-list.list .huge-it-posts-list-title {width:150px;}
#huge-it-posts-list.list .huge-it-posts-list-description {width:200px;max-height:98px;overflow:hidden;}
#huge-it-posts-list.list .huge-it-posts-list-description *{margin:0px;padding:0px;}
#huge-it-posts-list.list .huge-it-posts-list-link {width:100px;word-break:break-all;}
#huge-it-posts-list.list .huge-it-posts-list-category {display:none;}

/*TYPE-THUMBS*/

#huge-it-posts-list.thumbs  li {
	position:relative;
	float:left;
	width:100px;
	height:100px;
	overflow:hidden;
	padding:5px;
	margin:7px;
	border:1px solid #666;
	border-radius:3px;
}

#huge-it-posts-list.thumbs  li.active {
	border:2px solid #0074a2;
	margin:6px;
}

#huge-it-posts-list.thumbs .huge-it-posts-list-image {
	width:100px;
	height:100px;
	overflow:hidden;
	display:table-cell;
	vertical-align:middle;
}

#huge-it-posts-list.thumbs .huge-it-posts-list-image img {
	width:100px;
	max-height:100px;
}



#huge-it-posts-list.thumbs #huge-it-posts-list-heading,
#huge-it-posts-list.thumbs .huge-it-posts-list-title,
#huge-it-posts-list.thumbs .huge-it-posts-list-description, 
#huge-it-posts-list.thumbs .huge-it-posts-list-link,
#huge-it-posts-list.thumbs .huge-it-posts-list-category {display:none;}



.slider-options-head {
	display: block;
	height: 55px;
}

/*###########LIGHTBOX###############*/


.lightbox-options-block {
	position:relative;
	width:48%;
	margin:10px 1% 10px 1px;
	float:left;
	background:#fff;
}


.lightbox-options-block > div {
	position:relative;
	padding:10px 10px 5px 10px;
	clear:both;
}

.lightbox-options-block   h3 { 
	text-align: center;
}



.lightbox-options-block > div label {
	display:inline-block;
	width:50%;
	height:35px;
} 


.lightbox-options-block > div.has-background {background:#f9f9f9;}


.lightbox-options-block > div label {
	float:left;
}

.lightbox-options-block > div.has-height > div {display:inline-block;}



.lightbox-options-block > div div.lightbox-container {
	position:relative;
	display: inline-block;
	width: 100px;
	margin-left:-5px;
}

.lightbox-options-block > div div.lightbox-container span {
	position:absolute;
	top:-3px;
	right:0px;
}

.lightbox-options-block > div input[type='text'],.lightbox-options-block > div select , .lightbox-options-block > div input[type='number'] {
	width:100px;
}

.lightbox-options-block > div .bws_position_table input {
	margin:3px 17px 3px 3px;
}


.lightbox-options-block > div div.slider-container {
	position:relative;
	display: inline-block;
	width: 145px;
	margin-left:-5px;
}

.lightbox-options-block > div div.slider-container span {
	position:absolute;
	top:-3px;
	right:0px;
}

.lightbox-options-block  > div.fixed-size {display:none;}
